*{
    font-family: 'Roboto Slab', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --main-color: #54b689;
    --text-color: #dad5c3;
    --border-color: #999;
    --aside-color: #1E2A3A;
    --bio-border-color: #1e252e;
    --about-bg-color: #111821;
}


#aside-container{
    top: 0;
    bottom: 0;
    left: 0;
    width: 30%;
    position: absolute;
    color: var(--text-color);
    border-right: 2px solid var(--bio-border-color);
    text-align: center;
    background: var(--aside-color);
    padding: 0 10px;
    overflow: hidden;
}

.section-container{
    top: 0;
    bottom: 0;
    right: 0;
    width: 70%;
    position: absolute;
    text-align: justify;
    padding-left: 40px;
    padding-top: 100px;
    padding-right: 200px;
    color: var(--aside-color);
    background: #dad5c3;
    
}
.section-container-cv{
    top: 0;
    bottom: 0;
    right: 0;
    width: 70%;
    position: absolute;
    text-align: justify;
    padding-left: 40px;
    padding-top: 70px;
    padding-right: 200px;
    color: var(--aside-color);
    background: #dad5c3;
    overflow-y: scroll;
}
#about-container-section{
    padding-top: 150px;
}

#section-title{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
}
.highlight{
    color: var(--main-color);
}

#aside-container img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 50px auto;
    padding: 3px 0;
    border: 5px solid var(--text-color);
    box-shadow: 5px 5px, 20px grey;
    cursor: pointer;
    transition: .5s;
    user-select: none;
    filter: grayscale(100%);
}
#aside-container img:hover{
   filter: grayscale(0%);
   transform: scale(1.05);
   box-shadow: 5px 5px 20px black;
}
.aside-welcome{
    border-bottom: 1px solid #fff;
    padding-bottom: 30px;
}

.div-menu{
    justify-content: center;
}
.div-menu .ul-menu li{
    margin: 8px 0;
    font-size: 15px;
    text-transform: uppercase;
    list-style: none;
}

.div-menu .ul-menu a{
    width: 100%;
    color: var(--text-color);
    text-decoration: none;
    
}
div.div-menu ul.ul-menu li.primeiro a{
    background: none;
}
#ual-link{
    font-size: 15px;
    color: var(--main-color);
    text-transform: uppercase;
    
}

body.homebody ul.ul-menu a#idhome,
body.mycvbody ul.ul-menu a#mycv,
body.skillsbody ul.ul-menu a#skills,
body.aboutbody ul.ul-menu a#about{
    color: var(--main-color);
    cursor: text;
    border-bottom: 3px solid var(--main-color);
}

.ul-menu a::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--main-color);
    transition: width .3s;
}
.ul-menu a:hover{
    font-weight: 20px;
    width: 100%;
    height: 15px;
    color: var(--main-color);
}
.ul-menu a:hover::after{
    width: 100%;
    background-position: right bottom;
    transition: width .3s;
}
.div-social p{
    margin-top: 50px;
}


.div-social a i{
    margin: 10px 10px;
    justify-content: center;
    font-size: 30px;
    color: var(--text-color);
}

.div-social a{
    margin: 0 10px;
    text-decoration: none;
}



/*Cv*/
#cv-cabecalho{
    text-align: right;
}

.perfil{
    margin-top: 20px;
    text-align: justify;
}
.perfil-title{
    display: flex;
    justify-content: left;
    
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.perfil ul{
    padding-left: 40px;
    list-style-type:square;
}
.perfil-title i{
    font-size: 25px;
    padding-right: 5px;

}
#skills-cv li{
    list-style: none;
}

/* Skill css*/
#skills-section-title{
    border-top: 1px solid var(--border-color);
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
    
}

#skills-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}

.skills-box{
   flex: 1 1 33%;
   max-width: 33%;
   margin-bottom: 35px; 
}

.skills-title{
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: bold;
    padding-left: 10px;
    border-left: 7px solid var(--main-color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.skills-box i{
    font-size: 45px;
    margin-right: 10px;
}

/*Mobile*/

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 575.98px) { 
    #aside-container img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 50px auto;
        padding: 3px 0;
        border: 5px solid var(--text-color);
        box-shadow: 5px 5px, 15px black;
        cursor: pointer;
        transition: .5s;
        user-select: none;
        filter: grayscale(100%);
    }
    
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 767.98px) { 
    
   
    #aside-container{
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        position: relative;
        width: auto;
    
    }
    .section-container,
    .section-container-cv{
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        position: relative;
        width: auto;
        padding: 10px 20px;
        text-align: justify;
        overflow: hidden;
    }
    
    #aside-container img{
        margin: 30px auto;
    }
    

    .div-social a i{
        margin: 6px 5px;
        font-size: 20px;
        
    }
    

    /*My cv*/

    .perfil-title i{
        font-size: 25px;
        padding-right: 5px;
    
    }


    /*Skil css*/
    .skills-box{
        flex: 1 1 100%;
        max-width: 100%;
        margin-bottom: 40px;
        text-align: left;
    }

    .skills-box i{
        font-size: 60px;
    }
    
    

}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 991.98px) {
    
    #ual-link{
        font-size: 15px;
        color: var(--main-color);
        text-transform: uppercase;
    }
    #about-container-section{
        padding-top: 5px;
    }
    .perfil{
        margin-top: 10px;
        text-align: justify;
    }
    .perfil-title{
        display: flex;
        justify-content: left;
        
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .div-social a i{
        margin: 5px 5px;
        font-size: 22px;
    }
    .div-social p{
        margin-top: 25px;
    }
    .div-social a{
        margin: 0 8px;
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (max-width: 1500px) { 
    
    .section-container,
    .section-container-cv{
        padding: 20px 20px;
        text-align: justify;
    }
    
}
 