*{
    font-family: 'Roboto Slab', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
:root{
    --main-color: #54b689;
    --text-color: #dad5c3;
    --border-color: #999;
    --aside-color: #1E2A3A;
    --bio-border-color: #1e252e;
    --about-bg-color: #111821;
}

#aside-container{
    top: 0;
    bottom: 0;
    left: 0;
    width: 30%;
    position: absolute;
    color: var(--text-color);
    border-right: 5px solid var(--main-color);
    background: var(--aside-color);
    padding: 0 10px;
    overflow: hidden;
}
.conteudo{
    display: block;
    text-align: center;
    justify-content: center;
    
}
.conteudo.img{
    text-align: center;
}



.section-skills, .section-about{
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    text-align: justify;
    padding-left: 40px;
    padding-top: 100px;
    padding-right: 40px;
    color: var(--aside-color);
    background: #dad5c3;
    
}
.section-container-cv{
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    position: absolute;
    text-align: justify;
    padding-left: 40px;
    padding-top: 70px;
    padding-right: 40px;
    margin-bottom: 50px;
    color: var(--aside-color);
    background: #dad5c3;
    overflow-y: scroll;
}
.section-container-portfolio{
    top: 0;
    bottom: 0;
    right: 0;
    width: 70%;
    position: absolute;
    background: #dad5c3;
    overflow-y: scroll;
}
#about-container-section{
    padding-top: 150px;
}

#section-title{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
}
.highlight{
    color: var(--main-color);
}

#aside-container img{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
    padding: 3px 0px;
    border: 5px solid var(--main-color);
    box-shadow: 5px 5px, 20px var(--text-color);
    cursor: pointer;
    transition: .5s ease-in-out;
    user-select: none;
    filter: grayscale(100%);
}
#aside-container img:hover{
    transform: scale(1.05);
    filter: grayscale(0%);
    box-shadow: 5px 5px 20px black;
    cursor: pointer;
}
.aside-welcome{
    border-bottom: 1px solid var(--text-color);
    padding-bottom: 30px;
    font-weight: 600;
}

.div-menu{
    left: 0;
    width: 170px;
    height: 100%;
}
.div-menu .ul-menu a{
    display: block;
    text-decoration: none;
    width: 145px;
    height: 100%;
    line-height: 50px;
    font-size: 15px;
    text-transform: uppercase;
    box-sizing: border-box;
    color: var(--text-color);
    padding-left: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: .4s;
    
}
.div-menu .ul-menu a i{
    padding-right: 5px;
}

.ul-menu li:hover a{
    font-size: 18px;
    padding-left: 30px;
    border: 1px solid rgba(255, 255, 255, .1);
    
}
div.div-menu ul.ul-menu li.primeiro a{
    background: none;
}
.navbar-collapse{
    align-items: none;
}
#ual-link{
    font-size: 15px;
    color: var(--main-color);
    text-transform: uppercase;
    
}

.active {
    font-size: 18px;
    background-color: #54b689;
    border-radius: 20px;
    text-align: center;
}


/*.ul-menu a::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--main-color);
    transition: width .3s;
}
.ul-menu a:hover{
    font-weight: 20px;
    width: 100%;
    height: 15px;
    color: var(--main-color);
    transform: scale(1.05);
}
.ul-menu a:hover::after{
    width: 100%;
    background-position: right bottom;
    transition: width .3s;
}*/


.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*position: absolute;*/
    width: 95%;

}

.social-icon a i{
    text-align: center;
    color: var(--text-color);
    font-size: 32px;
    margin: 0px 20px;
    text-decoration: none;
    transition: transform .5s ease-in-out;
}
.social-icon a:hover{
    transform: scale(1.5);
}

.p-contato p{
    text-align: center;
    padding: 30px 30px 0px 0px ;
   
}


/*Cv*/
#cv-cabecalho{
    text-align: right;
}

.perfil{
    margin-top: 20px;
    text-align: justify;
}
.perfil-title{
    display: flex;
    justify-content: left;
    
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.perfil ul{
    padding-left: 40px;
    list-style-type:square;
}
.perfil-title i{
    font-size: 25px;
    padding-right: 5px;

}
#skills-cv li{
    list-style: none;
}

/* Skill css*/
#skills-section-title{
    border-top: 1px solid var(--border-color);
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
    
}

#skills-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}

.skills-box{
   flex: 1 1 33%;
   max-width: 33%;
   margin-bottom: 35px; 
}

.skills-title{
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: bold;
    padding-left: 10px;
    border-left: 7px solid var(--main-color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.skills-box i{
    font-size: 45px;
    margin-right: 10px;
}


/*Portfolio Css*/
.main h1{
    text-align: center;
    margin: 40px 0 50px 0;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  /*Styles for product card*/
  .capa {
    width: 250px;
    height: 250px;
    transform-style: preserve-3d;
    transition: all .5s ease;
  }
  .capa:hover{
    transform: rotateY(180deg);
  }

  .front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
  }
  .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    background-color: var(--aside-color);
    color: #243346;
    transform: rotateY(180deg);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
  }

  .capa img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }

  
  footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 3;
    background-color: var(--main-color);

}

/*Mobile*/

/*Small devices (landscape phones, 576px and up)*/

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 767.98px) { 
    
    
    #aside-container{
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        position: relative;
        width: auto;
        border-right: none;
        border-bottom: 5px solid var(--main-color);
    
    }
    #about-container-section{
        padding-top: 5px;
    }
    .section-container,
    .section-container-cv{
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        position: relative;
        width: auto;
        font-size: 12px;
        padding: 10px 20px;
        text-align: justify;
        overflow: hidden;
        
    }
    

    #aside-container img{
        margin: 15px auto;
    }
    
    .social-icon a i{
        margin: 0px 15px;
        font-size: 20px;
        
    }
    

    /*My cv*/
    .section-container-portfolio{
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        position: relative;
        width: auto;
        font-size: 12px;
        padding: 30px 20px;
        align-items: center;
        overflow: hidden;
    }

    .perfil-title i{
        font-size: 25px;
        padding-right: 5px;
    
    }


    /*Skil css*/
    .skills-box{
        flex: 1 1 100%;
        max-width: 100%;
        margin-bottom: 40px;
        text-align: left;
    }

    .skills-box i{
        font-size: 60px;
    }

    
    /*Portfolio*/
    
    .capa .popup-view{
        width: 100%;
      }

      .capa .popup-card{
        width: 100%;
        margin: 0;
        
      }
    
}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 991.98px) {
    *{
        font-size: 13px;
    }
 
    .aside-welcome{
        padding-bottom: 10px;
    }

    .div-menu .ul-menu a{
       
        line-height: 40px;
        font-size: 10px;
        
        
    }
    
    .ul-menu li:hover a{
        font-size: 15px;
        padding-left: 30px;
    }

    
    div#aside-container nav button i.fa, i.fas{
        font-size: 18px;
        text-align: center;

    }
    
    #ual-link{
        font-size: 15px;
        color: var(--main-color);
        text-transform: uppercase;
    }
    
    .perfil{
        margin-top: 10px;
        text-align: justify;
    }
    .perfil-title{
        display: flex;
        justify-content: left;
        
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .social-icon a i{
        margin: 0px 15px;
        font-size: 28px;
    }
    .social-icon p{
        margin-top: 25px;
    }
    .capa .popup-card{
        z-index: 2;
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        background: white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin: 0px 0px;
        
      }
      .capa .popup-card .popup-carousel{
        z-index: 2;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-bottom: 3px solid var(--aside-color);
      }
    
      
   
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (max-width: 1500px) { 
    
    .section-container,
    .section-container-cv,
    .section-container-portfolio{
        padding: 20px 20px;
        text-align: justify;
    }

    

    .capa .popup-card{
        z-index: 2;
        display: block;
        position: relative;
        width: auto;
        height: auto;
        background: white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        
      }
      .capa .popup-card .popup-carousel{
        z-index: 2;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-bottom: 3px solid var(--aside-color);
      }
    
      .capa .popup-card .popup-carousel .carousel-item{
          height: 498px;
          width: 100%;
      }
    
      .capa .popup-card .popup-carousel .carousel-item .img-fluid{
          height: 500px;
          width: 100%;
      }
      .capa .detalhes{
        margin: 10px
    }
  
    .capa .detalhes .popup-title{
      font-size: 15px;
      font-weight: 15px;
    }
  
    .capa .detalhes .tecnology{
        display: block;
    }
    
}